body, ul, li, h2, figcaption {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
ol, ul { 
  list-style: none;
}
img { 
  border: 0; 
  max-width: 100%; 
}
#w {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slider {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slides {
  height: 100%;
  overflow: hidden;
}
.slide {
  height: 100%;
  float: left;
  clear: none;
}
#w_seccion {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slider_seccion {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slides_seccion {
  height: 100%;
  overflow: hidden;
}
.slide_seccion {
  height: 100%;
  float: left;
  clear: none;
}
.slide figure {
  display: block;
  position: relative;
  text-align: left;
}
.slide figure figcaption {
  position: absolute;
  top: 20%;
  right: 5%;
  left: 5%;
}
.slide figure figcaption h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 500;
  text-align: left;
  width: 80%;
  text-shadow: 0 1px 1px #000000;
}
.slide figure figcaption p {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  width: 80%;
  text-shadow: 0 1px 1px #000000;
}
.slide figure figcaption a {
  border: none;
  margin-top: 40px;
  display: block;
  background: #d5ac1e;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  width: 80px;
  text-align: center;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.slide figure figcaption a:hover {
  border: none;
  margin-top: 40px;
  display: block;
  background: white;
  color: #d5ac1e;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;
  width: 80px;
  text-align: center;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.slide figure img {
  width: 100%;
}
.slider-arrows,
.slider-nav {
  display: none;
}




@media screen and (min-width: 300px) {  
  
  .slide figure figcaption h2 {
    font-size: 20px;
    width: 100%;
    text-shadow: 0 1px 1px #000000;
  }

}
@media screen and (max-width: 600px) {  

  .slide figure figcaption p,
  .slide figure figcaption a { 
    display: none;
  }

}

@media screen and (max-width: 768px) {  
  
  .slide figure figcaption a { 
    margin-top: 20px;
    font-size: 14px;
    padding: 10px;
  }
  .slide figure figcaption h2 {
    font-size: 20px;
    width: 100%;
    text-shadow: 0 1px 1px #000000;
  }
  .slide figure figcaption p {
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    text-shadow: 0 1px 1px #000000;
  }

}
@media screen and (min-width: 769px) { 
  
  #w_seccion {
    height: 300px;
  }
  .slider_seccion { 
    height: 300px;
  }

} 
@media screen and (min-width: 1250px) { 

  .slide figure figcaption {
    margin: auto;
    width: 1170px;
  }
  #w {
    height: 450px;
  }
  .slider { 
    height: 450px;
  }
  .slide figure figcaption h2 {
    font-size: 24px;
    width: 100%;
    text-shadow: 0 1px 1px #000000;
  }
  #w_seccion {
    height: 300px;
  }
  .slider_seccion { 
    height: 300px;
  }

}




